{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <div class="text-center h1">Edit</div>
        {% include '_messages.html' %}
                
        {% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data" >
            <div>
                {{ render_field(form.name,class="form-control",placeholder="Enter Name",value=product.name )}}
                {{ render_field(form.price,class="form-control",placeholder="Enter Price",value=product.price) }}
                {{ render_field(form.discount,class="form-control",placeholder="Enter Discount",value=product.discount )}}
                {{ render_field(form.stock,class="form-control",placeholder="Enter Stock",value=product.stock )}}
                {{ render_field(form.description,class="form-control",placeholder="Description",value=product.desc )}}
                {{ render_field(form.colors,class="form-control",placeholder="Enter Colors",value=product.colors )}}
                <label for="brand">Select Brand</label>
                <select name="brand" id="brand" class="form-control">
                    {% for brand in brands %}
                        {% if (brand.id) == (product.brand_id) %}
                            <option value="{{brand.id}}" selected>{{brand.name}}</option>
                        {% else %}
                            <option value="{{brand.id}}">{{brand.name}}</option>
                        {% endif %}    
                    {% endfor %}
                </select>
                <label for="category">Select Category</label>
                <select name="category" id="category" class="form-control"> 
                    {% for category in categories %}
                        {% if (category.id) == (product.category_id) %}
                            <option value="{{category.id}}" selected>{{category.name}}</option>
                        {% else %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                            
                    {% endfor %}
                </select>
                <div class="row">
                    <div class="col">
                        {{ render_field(form.image_1,class="form-control") }}
                    </div>
                    <div class="col">
                        {{ render_field(form.image_2,class="form-control") }}
                    </div>
                    <div class="col">
                        {{ render_field(form.image_3,class="form-control") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% if product.image_1 %}
                        <img src="{{ url_for('static', filename='uploads/' + product.image_1) }}" alt="Image 1" width="100">   
                        {% endif %}
                    </div>
                    <div class="col">
                        {% if product.image_1 %}
                        <img src="{{ url_for('static', filename='uploads/' + product.image_2) }}" alt="Image 2" width="100">   
                        {% endif %}
                    <div class="col">
                        {% if product.image_1 %}
                        <img src="{{ url_for('static', filename='uploads/' + product.image_3) }}" alt="Image 3" width="100">   
                        {% endif %}
                    </div>
                </div>
    
            </div>
            <p><input type=submit value=Add class="btn btn-info mt-2"></p>
        </form>
    </div>
    <div class="col"></div>
</div>
</div>

 
{% endblock content %}