{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col">
                <div class="text-center h1">Login</div>
                {% include '_messages.html' %}
                {% from "_formhelpers.html" import render_field %}
                <form method="post" enctype="multipart/form-data" >
                    <div>
                            {{ render_field(form.email,class="form-control") }}
                            {{ render_field(form.password,class="form-control") }}
                    </div>
                    <p><input type=submit value=Login class="btn btn-info mt-2"></p>
                </form>
        </div>
        <div class="col"></div>
    </div>

{% endblock content %}